.App {
  width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  background: url("./images/night-sky.jpeg") no-repeat center center fixed;
  background-size: cover;
  color: lightgrey;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: 1px solid red;
}

.header {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #070b34;
  margin: 0;
}
.pic-card {
  margin: 20px auto;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
  background: #666072;
}
.img {
  width: 100%;
}

.expl {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  background: #666072;
}
.footer {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #070b34;
  margin: 0;
}
